body{
    text-color: silver;
    background-color: rgb(40, 40, 66);
    background-attachment: fixed;
    background-size: cover;      
    }
            
    img {
        border-radius: 50%
    }
    p {
        text-align: justify;
    text-rendering: inherit;    
    }   

.silver{
color: silver;
}
