body{        
    background-color: rgb(25,31,91);
    background-attachment: fixed;
    background-size: cover;
    color: silver;
    text-align: center;
    text-rendering: inherit;
    font-family: electrolize;
}

h1 {    
    color: rgb(25,31,91);    
    font-size: 40px;
    background-color: rgb(30,190,252);
    margin: 0%
    }   
            
.img {
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(30,190,252);
}
    
.logo { 
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(34,32,33);    
    border-radius: 20px;
    border: 5px groove;
    border-color: rgb(30,190,252);   
}

footer {
    color: rgb(25,31,91);    
    font-family: electrolize;
    font-weight: bolder;    
    background-color: rgb(30,190,252); 
}

p {     
    font-size: 18px;
}

a:link {
    color: rgb(30,190,252);    
}

a:visited {
color: rgb(30,190,252);
}


.python {    
    position: relative;    
    left: 40px;    
    width: 200px;    
    padding: 5px;
    margin-top: 20px;   
    font-size: 1.2rem;
    
}

.sql {    
    position: relative;
    left: 260px; 
    bottom: 193px;   
    width: 200px;    
    padding: 5px;
    margin-top: 40px;    
    font-size: 1.2rem;
    

}

.cyber {    
    position: relative;
    left: 480px;
    bottom: 386px;
    width: 200px;    
    padding: 5px;
    margin-top: 40px;
    font-size: 1.2rem;
    
            
}

.full{    
    position: relative;
    left: 700px;
    bottom: 579px;
    width: 200px;  
    padding: 5px;
    margin-top: 40px;
    font-size: 1.2rem; 
    
}

#tech {
    position: relative;
    font-size: 1.3em;
    font-weight: bolder;      
    margin-left: 140px;   
    width: 1000px;
    height: 250px;    
    background-attachment: inherit;

}
